



/* BIBSYS DEFAULT */

.main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex {
    flex-flow: row nowrap;
}
/*Aktiver denne hvis fasettene er på høyre side og du ønsker dem på venstre side*/

.main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex.padded-container {
   display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row-reverse wrap;
}


/*Aktiver denne hvis fasettene er på venstre side og du ønsker dem på høyre side*/
/*
.main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex.padded-container {
   display: -webkit-flex; !* Safari *!
    -webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
    display: flex;
    flex-flow: row wrap;
}
*/

/*Endrer farge på toppbanneret (der logoen er)*/
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark::after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {
background-color: #032d50; 
border-color: white;
}

/*Endrer fargen på feltet bak søkefeltet*/
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark::after, prm-search-bar {
background-color: #00192c; 
}

/*Endrer bakgrunnsfargen på feltet under søkefeltet*/
md-content, md-content.md-primoExplore-theme {
  background-color: #ffffff;
}

/*Endrer fargen på tittel i trefflisten og detaljert visning*/
prm-brief-result .item-title {
  /* color: #2e8b57; */
}

/*Endrer bakgrunnsfarge på antall treff i trefflisten*/
prm-search-result-list .results-title.layout-row {
  /* background-color: #2e8b57; */
}

/*Endrer fargen og skillelinje på postene i trefflisten*/
prm-search-result-list md-list-item {
  /* border-bottom: #000000; */
  /* background-color: #e2e2e2; */
}

/*Endrer bakgrunnsfargen på trefflisten ved innlastning av nye/flere poster*/
#mainResults {
  /* background-color: #e2e2e2;*/
}

/* BIBSYS DEFAULT SLUTT */

/* OAS */

body {
  Open Sans,sans-serif;
}

h1, h2, h3, h4 {
  color: #032d50;
  font-weight: bold;
}

p {
  margin: 0 0 0em;
}

/* Bakgrunnsfarge utenfor bokser */
.main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex {
    flex-flow: row nowrap;
    background-color: #ffffff;
}

/* Setter bakgrunnsfarge på innholdsboksene på førstesiden */
md-card.default-card md-card-content, prm-featured-result-item md-card md-card-content {
  background-color: #ffffff;
}

/* Setter bakrgrunnsfarge på oversiden av innholdsboksene på førstesiden */
md-card.default-card md-card-title:not(#featuredResultTitle), prm-featured-result-item md-card md-card-title:not(#featuredResultTitle) {
  background-color: #ffffff;
}

/* Setter fontfarge og -størrelse på elementer i toppmenyen */
.layout-align-center-center>*, .layout-align-end-center>*, .layout-align-space-around-center>*, .layout-align-space-between-center>*, .layout-align-start-center>* {
    color: #ffffff;
    font-size: 15px;
}

/* INNHOLDSBOKSER FØRSTESIDEN */

md-card.default-card, prm-featured-result-item md-card {
    font-size: 15px;
  }

/* Browzine styles */
.browzine-icon  {
  margin-right:2px;
}

.browzine-external-link {
  width:15px;
  height:15px;
  min-width:15px;
  min-height:15px;
}
/* Browzine styles end*/



